{% extends "!layout.html" %}
{% block document %}
    <div class="documentwrapper">
      {% if render_sidebar %}
        <div class="bodywrapper">
      {% endif %}
          <div class="body">
            {% block body %}
            {% endblock %}
                <div class="section" id="duoshuo-comment">
		<!-- Duoshuo Comment BEGIN -->
		<div class="ds-thread"></div>
		<script type="text/javascript">
		var duoshuoQuery = {short_name:"osg3"};
		(function() {
			var ds = document.createElement('script');
			ds.type = 'text/javascript';ds.async = true;
			ds.src = 'http://static.duoshuo.com/embed.js';
			ds.charset = 'UTF-8';
			(document.getElementsByTagName('head')[0] 
			|| document.getElementsByTagName('body')[0]).appendChild(ds);
		})();
		</script>
		<!-- Duoshuo Comment END -->
		</div>
	      </div>
	      {% if render_sidebar %}
        </div>
      {% endif %}
      </div>
{% endblock %}
